{% extends 'base.html' %}

{% block content %}

<div class="container-fluid col-12">
    <div class="row">
        <!-- Carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <img src="/static/images/carousel-1.JPG"
                    class="d-block w-100" alt="Image of a woman with bag">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/carousel-2.JPG"
                    class="d-block w-100" alt="Image of a Brand event promotion">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/carousel-3.JPG"
                    class="d-block w-100" alt="Image of materials">
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row text-center mt-5">
                    <h2>Welcome to Winpea World</h2>
                    <p>Looking forward to welcoming you in-store!</p>
              </div>
        </div>
<!-- Promo cards -->
<section class="container">
    <div class="row d-flex my-5 justify-content-center text-center">
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'visit_store' %}" class="text-decoration-none home-cards-a">
                <div class="card">
                    <img src="/static/images/image-of-store.jpg" class="card-img-top" alt="Image of the store">
                </a>
                    <div class="card-body">
                        <h2 class="card-title">Book</h2>
                        <p class="card-text">Book a slot with us to visit the store now!</p>
                    </div>
                </div>
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'catalogue' %}" class="text-decoration-none home-cards-a">
                <div class="card">
                    <img src="/static/images/image-catalogue.JPG" class="card-img-top" alt="Image of product">
                </a>
                    <div class="card-body">
                        <h2 class="card-title">Catalogue</h2>
                        <p class="card-text">View our products</p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}