{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Carousel -->
<div class="col-md-10 mx-auto">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/carousel-1.jpg' %}" class="d-block w-100" alt="Image of a woman with bag">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/carousel-2.jpg' %}" class="d-block w-100" alt="Image of a Brand event promotion">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/carousel-3.jpg' %}" class="d-block w-100" alt="Image of materials">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row text-center mt-5">
        <h1>Welcome to Winpea</h1>
        <p><em>A brand that transcends any Gender, Border, Age & Size</em></p>
    </div>
</div>

<!-- Promo cards -->
<section class="container">
    <div class="row d-flex my-5 justify-content-center text-center">
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'visit_store' %}" class="text-decoration-none">
                <div class="card shadow">
                    <img src="{% static 'images/image-of-store.jpg' %}" class="card-img-top rounded img-store" alt="Image of the store">
                </a>
                <a href="{% url 'visit_store %'}"><h2>Book a Slot</h2></a>
                    </div>
                </div>
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'catalogue' %}" class="text-decoration-none">
                <div class="card shadow">
                    <img src="{% static 'images/image-catalogue.jpg' %}" class="card-img-top rounded img-store" alt="Image of product">
                </a>
                <a href="{% url 'catalogue' %}"><h2 class="card-title">Catalogue</h2></a>
        </div>
</section>

{% endblock %}