{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8">
                <h2 class="text-center">Catalogue - Products</h2>
                <hr>
            </div>
        </div>
        <!-- Products List -->
        <div class="row justify-content-center">
            <!-- Bags List -->
            <div class="col-sm-8">
                <hr><h4>Bags</h4><hr>
                {% for product in product_list %}
                {% if product.product_type == 0 %}
                <h5>{{ product.product_name }}</h5> 
                <p><em>{{ product.description | safe }} £{{ product.price }}</em></p>
                {% endif %}
                {% endfor %}
            </div>
    </div>
    <div class="row justify-content-center">
        <!-- Necklaces List-->
        <div class="col-sm-8">
            <hr><h4>Necklaces</h4><hr>
            {% for product in product_list %}
            {% if product.product_type == 1 %}
            <h5>{{ product.product_name }}</h5>
            <p><em>{{ product.description | safe }} £{{ product.price }}</em></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Bracelets List -->
        <div class="col-sm-8">
            <hr><h4>Bracelets</h4><hr>
            {% for product in product_list %}
            {% if product.product_type == 2 %}
            <h5>{{ product.product_name }}</h5>
            <p><em>{{ product.description | safe }} £{{ product.price }}</em></p>
            {% endif %}
            {% endfor %}
        </div>

</div>
{% endblock %}