{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 mt-5 mb-5">
                <h1 class="text-center">Catalogue - Products</h1>
                <hr>
            </div>
        </div>
        <!-- Products List -->
        <div class="row justify-content-center">
            <!-- Bags List -->
            <div class="col-sm-8">
                <hr><h2>Bags</h2><hr>
                {% for item in product_list %}
                {% if item.item_type == 0 %}
                <h3>{{ item.item_name }}</h3> 
                <p><em>{{ item.description | safe }} £{{ item.price }}</em></p>
                {% endif %}
                {% endfor %}
            </div>
    </div>
    <div class="row justify-content-center">
        <!-- Necklaces List-->
        <div class="col-sm-8">
            <hr><h4>Necklaces</h4><hr>
            {% for item in product_list %}
            {% if item.item_type == 1 %}
            <h5>{{ item.item_name }}</h5>
            <p><em>{{ item.description | safe }} £{{ item.price }}</em></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Bracelets List -->
        <div class="col-sm-8">
            <hr><h4>Bracelets</h4><hr>
            {% for item in product_list %}
            {% if item.item_type == 2 %}
            <h5>{{ item.item_name }}</h5>
            <p><em>{{ item.description | safe }} £{{ item.price }}</em></p>
            {% endif %}
            {% endfor %}
        </div>

</div>
{% endblock %}