{% extends "base.html" %}

{% block content %}

<section>
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col-md-8">
                <h2>Your slot is confirmed!</h2><br>
                <h3>See you soon, have a good day.</h3><br>
                <h4>Return home, <a href="{% url 'home' %}">click</a></h4><br>
                <h4>or Browse our Catalogue <a href="{% url 'catalogue' %}">click</a></h4>
            </div>
        </div>
    </div>

</section>

{%endblock%}