{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-4 mt-5 mb-5 p-5 rounded bg-light">
                <div class="card-body">
                    <div class="row">
                            
                                <h2>Booking Successful</h2><br>
                                <hr>
                                <p>Looking forward to welcoming you in store!</p><br>
                                <h5>Browse our catalogue to get you in the mood, <a class="link_color" href="{% url 'catalogue_menu' %}">here</a></h5>
                                <h5>or return home <a class="link_color" href="{% url 'home' %}">here</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{%endblock%}