{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Your slot is confirmed!</h2>
                <h3>See you soon, have a good day.</h3>
                <h4>Return home, <a href="{% url 'home/index.html' %}">click</a></h4>
                <h5>or Browse our Catalogue <a href="{% url 'item_catalogue/catalogue' %}">click</a></h5>
            </div>
        </div>
    </div>

</section>

{%endblock%}