@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: #ced4da;
}

body {
    background-color: #0000;
    font-family: 'Playfair Display', sans-serif;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.card {
    background-color: #a19d9d;
    padding: 20px;
}

.card-img-top{
    border-style: solid;
}

.link_color{
    color: #353535be;
    text-decoration: underline;
}

.bg-light {
    background-color: rgba(190, 172, 172, 0.897);
}

.excerpt{
    color: #353535be;
}

.map-responsive{

    padding-bottom:56.25%;
    position:relative;
    height:0;
    overflow:hidden;
    }

    .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

ul{
    list-style-type: none;
}


@media screen and (max-width: 568px) {
    .catalogue-img{
        width: 10%;
        height: 10%;
    }
}