@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: #ced4da;
}


body {
    background-color: #0000;
    font-family: 'Playfair Display', sans-serif;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.card {
    background-color: #a19d9d;
    padding: 20px;
}

.link_color{
    color: #353535be;
    text-decoration: underline;
}

.bg-light {
    background-color: rgba(190, 172, 172, 0.897);
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.excerpt{
    color: #353535be;
}

.img-store{
    height: auto;
    width: auto;
    max-height: 220px;
    max-width: 440px;
}